@model int

<div class="btn-group" role="group" aria-label="Basic example">
    <a asp-action="Edit" asp-route-Id="@Model" class="btn btn-outline-warning">Edit</a>
    <a asp-action="Details" asp-route-Id="@Model" class="btn btn-outline-info">Details</a>
    <a asp-action="Delete" asp-route-Id="@Model" class="btn btn-outline-danger">Delete</a>
</div>
